.cart_product{
	height: auto;
	width: 33%;  
    text-align: center;
    padding-top: 20px;
}
.cart_product img{
    width: 50%;
    height: auto;
}

#product_main_div{
    display: flex;
    flex-flow: wrap;
}
#empty_buy_button{
    padding-top: 60px;
    text-align: right;
}

#emp_cart{
    border: 3px solid red;
}
#buy_prodcut{
    border: 3px solid green;
    padding: 8px 25px;
}
@media only screen and (max-width: 768px){
    .cart_product{
        height: auto;
        width: 75%;   
        text-align: center;
    }
    #product_main_div{
        flex-direction: column;
    }
}